<app-navbar-start></app-navbar-start>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        .gradient-custom {
            background: url('https://media.licdn.com/dms/image/D4E10AQGCRiPj7fgYow/image-shrink_1280/0/1717599610318?e=1723039200&v=beta&t=Y-CfsREzJoAToQPWcU1DvWXWD4IX9j1I2xwgoK6YMBs') no-repeat center center fixed;
            background-size: cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            border-radius: 1rem;
            width: 100%;
            max-width: 400px;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .form-outline .form-control {
            background-color: #2d2d2d;
            color: #fff;
            border: none;
            border-radius: .5rem;
        }

        .form-outline .form-label {
            color: #aaa;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s ease-in-out;
            padding: 0 0.25rem;
            background-color: #2d2d2d;
            transform: translateY(-50%);
            pointer-events: none;
        }

        .form-outline .form-control:focus~.form-label,
        .form-outline .form-control:not(:placeholder-shown)~.form-label {
            color: #fff;
            transform: translateY(-1.5rem);
            font-size: 0.75rem;
        }

        .btn-outline-light {
            border-color: #fff;
            color: #fff;
        }

        .btn-outline-light:hover {
            background-color: #fff;
            color: #2d2d2d;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        /* Remove any additional margin or padding causing overflow */
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
    </style>
    <section class="gradient-custom">
        <div class="container h-100 d-flex align-items-center justify-content-center">
            <div class="card text-white">
                <div class="card-body p-5 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        <p class="text-white-50 mb-5">Please enter your username and password!</p>
                        <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
                            <div class="form-outline form-white mb-4 position-relative">
                                <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder=" " ngModel required />
                                <label class="form-label" for="username">Username</label>
                            </div>
                            <div class="form-outline form-white mb-4 position-relative">
                                <input type="password" id="typePasswordX" name="password" class="form-control form-control-lg" placeholder=" " ngModel required />
                                <label class="form-label" for="typePasswordX">Password</label>
                            </div>
                            <input type="submit" class="btn btn-outline-light btn-lg px-5" value="Login" />
                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
