html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #adb4cc;
}

.intro {
  background-color: #cacbd1;
  height: 100%;
  padding: 2rem;
}

.header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.header h1 {
  margin: 0;
}

.form-group {
  margin-bottom: 1rem;
}

.table-container {
  background-color: #242324;
  color: #e0e0e0;
  border-radius: 0.25rem;
  max-height: 590px;
}

.table thead  {
  position: -webkit-sticky; /* Safari için */
  position: sticky;
  top: 0;
  z-index: 2; /* Başlığın içeriğin üstünde olmasını sağlar */
}
.table-container table {
  margin-bottom: 0;
}

.table-container thead th,
.table-container tbody td,
.table-container tbody th {
  color: #e0e0e0;
}



.table-container {
  max-height: 590px;
}
thead{
  z-index: 10000;
}
tbody{
  z-index: 10000;
}
.table-responsive{
  overflow: hidden;
  overflow-y: auto;
  max-height: 560px;
  scrollbar-color: #555 #333; /* [thumb] [track] */
  scrollbar-width:auto; 
  scrollbar-gutter: stable;
}
td {
  max-width: 350px;
  overflow: hidden;
  /* Taşmayı engeller */
  text-overflow: ellipsis;
  /* Taşan metni kısaltır ve sonuna "..." ekler */
  white-space: nowrap;
  
}

.table {
  width: 100%;
  /* Tablo genişliğini kapsayıcıya uyacak şekilde ayarlar. */

}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 15px;
  /* Ekstra içerik dolgusu için isteğe bağlı */
}
thead tr{
  background-color: #ffffff;
  color: #e0e0e0;
  
}
thead tr th{
  text-align: center;
  background-color: #080644;
}


.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}