html,body{
  background-color: #ccc;
}
body{
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 600px;
  margin-top:  50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 20px;
}
